annotated-types==0.7.0
fastapi==0.115.12
pydantic==2.11.3
SQLAlchemy==2.0.40
sqlmodel==0.0.24
uvicorn==0.34.2
python-dotenv==1.1.0
pydantic_settings==2.9.1 # Manejo de configuraciones
pymysql==1.1.1 # Conector MySQL
alembic==1.16.1 # Migraciones de base de datos
pytest==8.4.0 # Pruebas
httpx==0.28.1 # Cliente HTTP asíncrono
pytest-asyncio==0.28.1 # Pruebas asíncronas
pytest-cov==6.1.1 # Cobertura de pruebas